body{
	font-size: 100%;
	background-color: #ff6600;
	height: 1em;
}

.super{
	width: 40em;
	text-align: center;
	display: table;
	-khtml-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.dropdown{
	float: left;
	background-color: #ff6600;
	border: none;
}

.dropdown:focus{
	outline: none;
}

.button-wrapper button{
	float: left;
	background-color: #ff6600;
	border: none;
	cursor: pointer;
}

.button-wrapper button:focus{
	outline: none;
}

.stick{
	float: left;
	font-size: 13px;
	width: 0px;
}

#image{
	float: left;
	border: 1px #ffffff solid;
	margin-top: -0.5%;
}

#hacker{
	float: left;
	background-color: #ff6600;
	border: none;
	font-weight: bolder;
	cursor: pointer;
}

#hacker:focus{
	outline: none;
}

#onoff{
	float: right;
}

#options{
	float: left;
	vertical-align:middle;
}
